
<% include parts/header %>



<div class="container addTodo">
  <div class="row">

    <div class="col-xs-12 col-md-6">
      <h3>Add task</h3>
      <% include parts/form-add %>
    </div>

    <div class="col-xs-12 col-md-5 offset-md-1">
      <h3>List of tasks</h3>
      <ul>
        <% todos.forEach(function(todo) { %>
          <li>
            <span><%= todo.text %> - <%= todo.body %></span>
              <a class="btn btn-success" href="/todo/edit/<%= todo._id %>">Edit</a>
              <a id="delete-todo" data-id="<%= todo._id %>" href="#" class="btn btn-warning">Delete</a>
          </li>
        <% }) %>
      </ul>
    </div>

  </div>
</div>





<% include parts/footer %>
