<form action="/todo/add" method="post">
  <div>
    <label>Todo name</label>
    <input type="text" name="text" placeholder="Add todo">
  </div>
  <div>
    <label>Todo body</label>
    <textarea placeholder="Add body" name="body"></textarea>
  </div>
  <button type="submit">Submit</button>
</form>
