<!DOCTYPE html>
<html>
  <head>
    <title>todo</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <main>

    <heder class="header">
      <div class="header__bg"></div>
        <div class="header__intro">
        <div class="header__intro--content">
          <h1>todo</h1>
          <span class="typed"></span>
        </div>
      </div>
    </heder>
