
@import "../../public/components/bootstrap.scss";
@import "../../public/components/normalize.scss";

$primary-color-text:   #FFFFFF;

body {
  font-family: 'Roboto Slab', serif;
  font-size: 10px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  height: 60vh;
  position: relative;
  overflow: hidden;
  margin-bottom: 10%;
  &__bg {
    content: "";
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    background: url('../images/hero-img.png');
    background-size: cover;
    background-position: center center;
  }
  &__intro {
    border-radius: 2%;
    background: $primary-color-text;
    opacity: 0.9;
    padding: 7% 7%;
    text-align: center;
    position: relative;
    &:after{
    content: '' ;
    display: block ;
    position: absolute ;
    top: 12px ;
    bottom: 12px ;
    left: 12px ;
    right: 12px ;
    border-radius: 5px ;
    border: 2px solid black ;
  }
  &:before{
  content: '' ;
  display: block ;
  position: absolute ;
  top: 5px ;
  bottom: 5px ;
  left: 5px ;
  right: 5px ;
  border-radius: 5px ;
  border: 2px solid black ;
}
    h1 {
      margin-bottom: 16%;
      font-size: 4em;
      letter-spacing: .1em;
    }
    span {
      font-size: 1.6em;
      font-weight: 300;
    }
  }
}

/* add todo */
.addTodo {
  .form-control {
    margin-bottom: 6%;
  }
  h3 {
    margin-bottom: 10%;
  }
  ul {
    width: 100%;

    padding: 0;
    margin: 0;
    li {
      border: 1px solid rgba(0,0,0,0.15);
      border-radius: 5px;
      padding: 5%;
      list-style: none;
      margin-bottom: 10%;
      span {
        font-size: 2em;
        font-weight: 300;
        display: block;
        margin-bottom: 5%;
      }
    }
  }
}

/* edit */
.edit {
  label {
    font-size: 1.5em;
    font-weight: 300;
  }
}
